<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only"></span></a>
      </li>
    </ul>
    <ul class="ms-auto me-5">
      <div class="btn-group dropstart ">
        <ngx-avatar class="dropdown mr-5 " size="40" data-bs-toggle="dropdown" name="John Doe" aria-expanded="false">
        </ngx-avatar>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">HTML</a></li>
          <li><a class="dropdown-item">CSS</a></li>
          <li><a class="dropdown-item">JavaScript</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
