<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home <span></span></a>
      </li>
    </ul>
    <ul class="ms-auto me-5">
      <div class="btn-group dropstart " style="cursor: pointer;">
        <ngx-avatar class="dropdown mr-5 mt-2" size="40" data-bs-toggle="dropdown" [name]="currentUser?.name"
          aria-expanded="false">
        </ngx-avatar>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/edit-profile">Edit profile</a></li>
          <li (click)="openVerticallyCentered(content)"> <a class="dropdown-item">Change Password</a> </li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>

<ng-template #content>
  <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="submit()">
    <div class="modal-header">
      <h6 class="modal-title">Change Password</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>
    <p></p>
    <div class="row" style="margin:2px;">
      <div class="col" style="padding: 15px;">
        <label for="Current Password">Current Password</label>
        <input type="password" class="form-control" formControlName="currentPassword" name="currentPassword">
        <div
          *ngIf="changePasswordForm.controls['currentPassword'].touched && changePasswordForm.controls['currentPassword'].invalid">
          <div class="text-danger" *ngIf="changePasswordForm.controls['currentPassword'].errors?.['minlength']">
            Enter Atleast 6 Characters
          </div>
          <div class="text-danger" *ngIf="changePasswordForm.controls['currentPassword'].errors?.['required']">
            Current Password is Required
          </div>
        </div>
        <label for="New Password">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" name="newPassword">
        <div
          *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].invalid">
          <div class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength']">
            Enter Atleast 6 Characters
          </div>
          <div class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">
            New Password is Required
          </div>
        </div>
        <label for="Confirm Password">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword">
        <div
          *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].invalid">
          <div class="text-danger" *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['minlength']">
            Enter Atleast 6 Characters
          </div>
          <div class="text-danger" *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']">
            Confirm Password is Required
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="modal-footer">
      <div class="row" style="margin:2px;">
        <div class="col-6" style="padding: 15px;">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-6" style="padding: 15px;">
          <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Close</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
